<%- include("partials/header.ejs") %>

<body>
    <div class="main-search search">
        <h1>Weather Data</h1>
        <form id="main-search" method="post">
            <input type="text" id="cityName" name="city" placeholder="Search for city" required>
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </form>
    </div>
    
</body>
</html>
<%- include("partials/footer.ejs") %>
